* {
  box-sizing: border-box;
}

.Wrapper {
  height: 100vh;
  display: flex;
}

.Chat-side {
  width: 300px;
  .Side-header {
    height: 100px;
    background-image: url("barbour5.png");
    &__list {
      color: whitesmoke;
      margin: 0 10px 0 15px;
    }
      &__Title {
        font-size: 45px;
        font-weight: 900;
        letter-spacing: -2px;
      }
      &__History {
        font-size: 5px;
        font-weight: bold;
      }
  }
  .Side-second {
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    border: 2px solid gold;
    &__list {
      height: 50px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid gold;
    }
    &__User-name {
      font-size: 20px;
      font-weight: bold;
      padding-top: 10px;
      letter-spacing: -1px;
      color: whitesmoke;
    }
    &__Iconlist {
      display: flex;
      .Pen {
        color: gold;
        font-size: xx-large;
      }
      .Gear {
        color: gold;
        font-size: xx-large;
      }
    }
  }
  .Groups {
    height: calc(100vh - 200px);
    padding: 20px 20px ;
    position: relative;
    background-image: url("barbour2.png");
    .youtube-container {
      position: absolute;
      margin-left: -10px;
      bottom: 10px;
    }
    .Group {
      text-decoration: none;
      font-weight: bold;
      &__Name {
        color: whitesmoke;
        font-size: large;
      }
      &__Message {
        color: whitesmoke;
        font-size: 5px;
        margin-bottom: 40px;
      }
    }
  }
}

.Chat-main {
  width: calc(100vw - 300px);
  .Main-header {
    height: 100px;
    padding: 0 40px;
    background-image: url("barbour3.png");
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list {
      color: whitesmoke;
      font-weight: bold;
      &__Member {
        font-size: 12px;
      }
    }
    &__Edit {
      .Main-header__Right-header {
        font-size: xx-large;
        color: gold;
        border: 1px solid black;
        padding: 5px 10px;
        background-color: black;
      }
    }
  }

  .Messages {
    height: calc(100vh - 190px);
    background-color: whitesmoke;
    padding: 35px 40px 0;
    .Message {
      margin-bottom: 46px;
      font-weight: bold;
      &__info {
        margin-bottom: 12px;
        display: flex;
        &__Talker {
          font-size: 16px;
          color: rgb(14, 65, 14);
        }
        &__Date {
          margin-left: 5px;
          font-size: 12px;
          color: darkolivegreen;
        }
      }
      &__text {
        font-size: 14px;
        color: black;
      }
    }
  }
  .Form {
    form {
      height: 90px;
      padding: 20px 50px 20px 40px;
      background-image: url("barbour5.png");
      display: flex;
      .input-box {
        width: 100vw;
        display: flex;
        position: relative;
        &__text {
          width: 100%;
          border-style: none;
          padding: 0 0 0 15px;
        }
        &__image {
          position: absolute;
          top: 6px;
          right: 10px;
          font-size: 25px;
          color: rgb(14, 65, 14);
          .Hidden {
            display: none;
          }
        }
      }
        .submit-btn {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          border-style: none;
          color: whitesmoke;
          border-radius: 20px;
          background-color: rgb(14, 65, 14);;
      }
    }
  }
}